body{
    background-color: #eaeaea !important;
}

ul {
    list-style-type: none;
}

#profile-intro img {
    height: 150px;
}

#profile-intro i, #profile-pessoa i {
    margin: 5px;
}

#profile-intro i {
    font-size: 1.3em;
}

.profile-pessoa i {
    margin-right: 7px;
}

#profile-projeto img {
    max-height: 200px;
}

#papel {
    margin-top: 10px;
}
