.news-info{
     position: absolute;
     bottom: 0;
     left: 13px;
}

.news-info-mid{
     position: absolute;
     bottom: 50%;
     left: 13px;
}

.zindex-1{
     z-index: 1;
}

main{
     position: relative;
     min-height: 100vh;
}

.scrolling-wrapper {
     overflow-x: scroll;
     overflow-y: hidden;
     white-space: nowrap;   
}
.card {
     display: inline-block;
   }
