
/*------------------------------------------------------------*/

.py-4{
    padding: 50px 0 50px 0 !important;
}

#tabela_users tr td{
    vertical-align: middle !important;
}

#buttons-collumn {
    width: 202px;
}

/*------------------------------------------------------------*/

